body{
	background-color: #f8f6f4;
	font-family: 'Lato', cursive;/* google font*/
}

/* header*/
header{
	position: fixed;
	top: 0;
	width: 100%;
	box-sizing: border-box;
	background: #61616154;
	z-index: 100000;
}

/* nav bar */
nav{
	width: 100%;
	margin: auto;/*重新校準*/
	text-align: center;
}
nav li{
	display: inline-block;
}
nav li a{
	display: inline-block;
	padding: 20px;
	color: rgba(255,255,255,1);
	text-decoration: none;
}
nav li a:hover{
	color: black;
}

*{
	padding: 0;
	margin: 0;
}

/* section */
section{
	position: relative;
	width: 80%;
	height: 500px;
	overflow: hidden;
	margin: 100px auto 0px;
}
.left, .right{
	position: absolute;
	box-sizing: border-box;
}

.right{
	width: 100%;
}
.left{
	width: 50%;
	left: 80px;
	top: 150px;
	padding: 30px;
	z-index: 20;
	color: #616161;
}
.left h1{
	font-size: 50px;/*針對這個區域h1的字體大小*/
	line-height: 1em;
	padding-bottom: 20px;
	font-weight: 900;/*字重*/
}
.left p{
	width:100%;
	color: black;
	font-size: 20px;
}

/* article */
article{
	width: 80%;
	margin: auto;
	margin-top: 20px;
}
.card{
	
	float: left;
	box-sizing: border-box;
	width: 33.33%;
	text-align: center;
	border: solid 5px #f8f6f4;/*實線 px 顏色*/
	padding: 5px 0px;
	
	background: #616161;
	color: rgba(255,255,255,0.7);
	opacity: 0.8;
	
	transition: background 1s, color 1s;/*一秒*/
	-webkit-transition: background 1s, color 1s; 
	/* For Safari 3.1 to 6.0 */ 
	
}

.card:hover{
	cursor: pointer;
	/* adjust properties */ 
	background: #ddb492;/*滑過去時改變的內容*/
	color: rgba(255,255,255,0.5);
}

/*aside*/
aside{
	clear: both; 
	width: 80%;
	margin: auto;
}

.wraptext{
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding: 30px;
    background: rgba(255, 255, 255, 1);
    border: solid 5px #f8f6f4;
}

h2{
	text-align: center;
	font-size: 25px;
}


/*.wraptext p{
    line-height: 2em;
}*/



aside .picbox, aside .desbox{
	float: left;
	position: relative;
	box-sizing:border-box;
}

aside .desbox{
	padding:80px;
	line-height:2em;
	text-align: justify;/*文字等寬*/
	width:70%;
}

aside .right{
	text-align: right;
}

aside .picbox{
	width: 25%;
}

aside .picbox img{
	width: 100%;
}

.picbox:hover img{
	-webkit-filter: brightness(30%);/*Safri*/
	filter: brightness(50%);
}

footer{
	clear:both;
	padding:20px 0px;
	text-align:center;
}
